.app {
}

.app__peers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.peers__panel {
  display: grid;
  grid-column-start: span 2;
}

.peers__name {
  margin-top: 10px;
}
